*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: rgb(228, 228, 228);
    color: #444;
}

.nav{
    width: 100%;
    background-color: rgb(10, 147, 156);
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

.nav-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 1.5rem;
}

.card-cont{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.logo{
    color: #f9f9f9;
}

.logo p{
    font-size: 2.5rem;
}

.addto{
    position: relative;
}

.addto .icon{
    cursor: pointer;
    font-size: 3.5rem;
    color: #f9f9f9;
}


.addto span{
    position: absolute;
    right: -1.5rem;
    top: -.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 10rem;
    font-size: 1rem;
}

.card{
    width: 30rem;
    padding: 5vh 2vh;
    background-color: #f9f9f9;
    text-align: center;
    margin: 2rem;
}
.card h1{
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.btn{
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background-color: rgb(10, 147, 156);
    border-radius: 10rem;
    color: #f9f9f9;
    font-size: 1.8rem;
    cursor: pointer;
}
.d-none{
    display: none;
}
.cart-items{
    position: absolute;
    top: 100%;
    right: 0;
    width: 30rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    padding: 2rem 1rem;
    box-shadow: .1rem .3rem .5rem rgba(0, 0, 0, 0.171);
}

.cart-items-item{
    display: flex;
    height: 7rem;
    width: 100%;
    margin-bottom: .5rem;
}

.cart-items-item:hover{
    background-color: rgba(0, 0, 0, 0.041);
}

.cart-items-item .img-box {
    width: 8rem;
    margin-right: 1rem;
    background-color: rgb(223, 223, 223);
}

.cart-items-item .cart-details {
    flex: 1;
}

.cart-items-item .cart-details h1{
    font-size: 1.5rem;
    font-weight: 400;
}

.cart-items-item .cart-details p{
    font-size: 1.5rem;
    font-weight: 300;
}

.btn-remove{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color:  rgb(10, 147, 156);
}